{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block links %}<link rel="stylesheet" href="{{url_for('static',filename='indexStyle.css')}}" type="text/css">{% endblock %}
{% block header %}
Home
{% endblock %}
<!DOCTYPE html>
{% block content %}
<h1>test</h1>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>test</th>
    </tr>
  </thead>
  {% for item in data %}
  <br/>
  <tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
